* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

header {
    background-image: url("Assets/Hero-bg.png");
    height: 500px;
    width: 100%;
}

.navbar {
    height: 100px;
    width: 70%;
    margin-left: 220px;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("Assets/amazonl.webp");
    background-size: cover;
    height: 70px;
    width: 100%;
    align-items: center;
}

.btn {
    background-color: rgb(18, 18, 153);
    height: 50px;
    width: 70px;
    border-radius: 10px;
    margin-top: 27px;
    color: rgb(237, 240, 243);
}

.banner {
    height: 300px;
    width: 700px;
    margin-left: 390px;
    margin-top: 80px;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 400%;
}

.bannerbtn {
    align-items: center;
    margin-left: 46%;
    margin-top: 20px;
    height: 30px;
    border-radius: 10px;
    color: rgb(237, 240, 243);
    background-color: rgb(18, 18, 153);
    ;
}

.action {
    display: flex;
    margin: 80px 150px;
    justify-content: space-between;
}

.left {
    margin-top: 70px;
}

.title1 {
    font-size: 250%;
    font-weight: bold;
}

.subtitle {
    margin-top: 10px;
    font-size: 150%;
    color: rgb(200, 196, 196);
}

.actionbtn {
    height: 35px;
    width: 150px;
    border-radius: 10px;
    color: rgb(237, 240, 243);
    background-color: rgb(18, 18, 153);
    margin-top: 10px;
}

.image {
    border-radius: 25px;
    height: 400px;
    width: 450px;
}

.product {
    height: 300px;
    width: 80%;
    background-color: rgba(70, 121, 188, 0.1);
    margin: 80px 150px;
    border-radius: 10px;
    text-align: center;
}

.head {
    font-weight: bold;
    margin-top: 50px;
    padding-top: 50px;
    font-size: 200%;
}

.para {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px
}

.p1 {
    font-size: 300%;
    color: rgb(60, 60, 203);
    font-weight: bold;
}

.p2 {
    color: rgb(130, 126, 126);
}

.comment {
    height: 300px;
    width: 80%;
    margin: 80px 150px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.sidetext {
    font-weight: bold;
    font-size: 400%;
    padding-top: 80px;
    margin-left: 220px;
}

.form {
    margin-right: 200px;
}

.email,
.name,
.message {
    text-align: start;
}

.formbtn {
    height: 35px;
    width: 175px;
    border-radius: 10px;
    color: rgb(237, 240, 243);
    background-color: rgb(18, 18, 153);
    margin-top: 10px;
}

.form1 {
    padding: 10px;
}

.form2 {
    padding: 10px;
}

.form3 {
    padding: 10px;
}